/* Main CSS for mobile devices */
body {
  background: #d31aea;
}
h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #ffb90f;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img {
  width: 90%;
}

/* Carousel CSS  */
.carousel-container {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

form {
  display: block;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

input {
  font-weight: bold;
  text-align: center;
  background-color: hotpink;
  color: black;
  padding: 10px;
  margin: 10px;
}

.textbox {
  width: 95%;
  font-size: 11px;
  color: black;
  background-color: white;
}

.click {
  width: 55%;
  font-size: 50px;
  align-items: center;
  font-weight: bold;
}

.carousel-images {
  width: 90%;
  border: 4px solid hotpink;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-images img {
  display: none;
  border-radius: 20px;
  width: 100%;
}

.carousel-images img:first-of-type {
  display: block;
}

.carousel-button img {
  width: 60%;
  border-radius: 50px;
  padding: 10px;
  border: 4px solid hotpink;
}

.carousel-button {
  text-align: center;
  align-self: center;
}

/* Rupaul API CSS  */

dl, dt, dd {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

dt {
  font-family: 'Righteous', cursive;
  font-size: 35px;
  color: #ffb90f;
}

dd {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}

dl img {
  width: 100%;
}

/* CSS for Desktop or larger than mobile */
@media (min-width: 735px) {
 h1 {
   font-size: 60px;
 }
 .carousel-images {
   width: 40%;
 }
 .carousel-button img {
   width: 20%;
 }
 .textbox {
   font-size: 20px;
 }
 .click {
   font-size: 40px;
   color: #ffb90f;
   width: 30%;
 }
 dt {
   font-size: 45px;
 }
 dd {
   font-size: 35px;
 }
 dl img {
   width: 75%;
 }
}
