/* General CSS */
body {
  background: #d31aea;
}
h1 {
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Carousel CSS  */
.carousel-container {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

input {
  width: 500px;
}

.carousel-images {
  width: 80%;
  border: 4px solid hotpink;
  border-radius: 20px;
  padding: 10px;
}

.carousel-images img {
  display: none;
  border-radius: 20px;
}

.carousel-images img:first-of-type {
  display: block;
}

.carousel-button img {
  border-radius: 50px;
  align-self: center;
  padding: 10px;

}

/* Rupaul API CSS  */
