/* General CSS */
body {
  background: #d31aea;
}
h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #ffb90f;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img {
  width: 90%;
}

/* Carousel CSS  */
.carousel-container {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

form {
  display: block;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

input {
  font-weight: bold;
  text-align: center;
  background-color: hotpink;
  color: #ffb90f;
  padding: 10px;
  margin: 10px;
}

.textbox {
  width: 95%;
  font-size: 11px;
  color: black;
}

.click {
  width: 40%;
  font-size: 30px;
  align-items: center;
  font-weight: bold;
}

.carousel-images {
  width:85%;
  border: 4px solid hotpink;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-images img {
  display: none;
  border-radius: 20px;
  width: 100%;
}

.carousel-images img:first-of-type {
  display: block;
}

.carousel-button img {
  width: 30%;
  border-radius: 50px;
  padding: 10px;
  border: 4px solid hotpink;
}

.carousel-button {
  text-align: center;
  align-self: center;
}

dl, dt, dd {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

dt {
  font-family: 'Righteous', cursive;
  font-size: 35px;
  color: #ffb90f;
}

dd {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}

dl img {
  width: 100%;
}



/* Rupaul API CSS  */
