/* Main CSS for mobile devices */
body {
  background: #d31aea;
}

h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 55px;
  color: #ffb90f;
}

/* Carousel CSS  */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img {
  width: 90%;
}

.carousel-container {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.carousel-images {
  width: 50%;
  border: 4px solid hotpink;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-images img {
  display: none;
  border-radius: 20px;
  width: 100%;
}

.carousel-images img:first-of-type {
  display: block;
}

.carousel-button img {
  width: 60%;
  border-radius: 50px;
  padding: 10px;
  border: 4px solid hotpink;
}

.carousel-button {
  text-align: center;
  align-self: center;
}

/* Rupaul API CSS  */

.output {
  display: none;
}

h2 {
  font-family: 'Righteous', cursive;
  font-size: 40px;
  color: #ffb90f;
}

ul {
  list-style: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}

dl, dt, dd {
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

form {
  display: block;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

input {
  font-weight: bold;
  text-align: center;
  background-color: hotpink;
  color: black;
  padding: 10px;
  margin: 10px;
}

.textbox {
  width: 20%;
  font-size: 25px;
  color: black;
  background-color: white;
  border-radius: 20px;
  border: 4px solid hotpink;
  padding: 10px;
}

.click {
  width: 55%;
  font-size: 50px;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
  border: 4px solid white;
  padding: 10px;
}

dt {
  font-family: 'Righteous', cursive;
  font-size: 35px;
  color: #ffb90f;
}

dd {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}

dl img {
  width: 70%;
}

/* CSS for Desktop or larger than mobile */
@media (min-width: 1125px) {
 h1 {
   font-size: 60px;
 }
 .carousel-images {
   width: 35%;
 }
 .carousel-button img {
   width: 20%;
 }
 .textbox {
   font-size: 25px;
 }
 .click {
   font-size: 35px;
   color: #ffb90f;
   width: 30%;
 }
 h2 {
   font-size: 20px;
 }
 ul {
   font-size: 15px;
 }
 dt {
   font-size: 45px;
 }
 dd {
   font-size: 35px;
 }
 dl img {
   width: 50%;
 }
}
